@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font-manrope), "Manrope", sans-serif;
  }
}

@theme {
  --font-family-manrope: var(--font-manrope);
  --font-family-dm-sans: var(--font-dm-sans);
  
  --color-primary-1: var(--primary-1);
  --color-primary-2: var(--primary-2);
  --color-primary-3: var(--primary-3);
  --color-primary-4: var(--primary-4);
  --color-primary-5: var(--primary-5);
  --color-primary-6: var(--primary-6);
  --color-primary-7: var(--primary-7);
  --color-primary-8: var(--primary-8);
  --color-primary-9: var(--primary-9);
  --color-primary-10: var(--primary-10);
  --color-primary-11: var(--primary-11);
  --color-primary-12: var(--primary-12);

  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);

  --color-red-1: var(--red-1);
  --color-red-2: var(--red-2);
  --color-red-3: var(--red-3);
  --color-red-4: var(--red-4);
  --color-red-5: var(--red-5);
  --color-red-6: var(--red-6);
  --color-red-7: var(--red-7);
  --color-red-8: var(--red-8);
  --color-red-9: var(--red-9);
  --color-red-10: var(--red-10);
  --color-red-11: var(--red-11);
  --color-red-12: var(--red-12);

  --color-yellow-1: var(--yellow-1);
  --color-yellow-2: var(--yellow-2);
  --color-yellow-3: var(--yellow-3);
  --color-yellow-4: var(--yellow-4);
  --color-yellow-5: var(--yellow-5);
  --color-yellow-6: var(--yellow-6);
  --color-yellow-7: var(--yellow-7);
  --color-yellow-8: var(--yellow-8);
  --color-yellow-9: var(--yellow-9);
  --color-yellow-10: var(--yellow-10);
  --color-yellow-11: var(--yellow-11);
  --color-yellow-12: var(--yellow-12);

  --color-blue-1: var(--blue-1);
  --color-blue-2: var(--blue-2);
  --color-blue-3: var(--blue-3);
  --color-blue-4: var(--blue-4);
  --color-blue-5: var(--blue-5);
  --color-blue-6: var(--blue-6);
  --color-blue-7: var(--blue-7);
  --color-blue-8: var(--blue-8);
  --color-blue-9: var(--blue-9);
  --color-blue-10: var(--blue-10);
  --color-blue-11: var(--blue-11);
  --color-blue-12: var(--blue-12);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--gray-8);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-12);
  border-radius: 8px;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

:root {

  --primary-1: #fbfefb;
  --primary-2: #f5fbf5;
  --primary-3: #daf1db;
  --primary-4: #c8f4e0;
  --primary-5: #c9e8ca;
  --primary-6: #b2ddb5;
  --primary-7: #94ce9a;
  --primary-8: #46a758;
  --primary-9: #46a758;
  --primary-10: #3e9b4f;
  --primary-11: #308737;
  --primary-12: #203c25;

  --gray-1: #fbfdfc;
  --gray-2: #f9f9f9;
  --gray-3: #f0f0f0;
  --gray-4: #e8e8e8;
  --gray-5: #e0e0e0;
  --gray-6: #d9d9d9;
  --gray-7: #cecece;
  --gray-8: #bbbbbb;
  --gray-9: #868e8b;
  --gray-10: #7c8481;
  --gray-11: #646464;
  --gray-12: #202020;

  --red-1: #fffcfc;
  --red-2: #fff7f7;
  --red-3: #feebec;
  --red-4: #ffdbdc;
  --red-5: #ffcdce;
  --red-6: #fdbdbe;
  --red-7: #f4a9aa;
  --red-8: #eb8e90;
  --red-9: #e0434a;
  --red-10: #dc3e42;
  --red-11: #ce2c31;
  --red-12: #641723;

  --yellow-1: #fdfdf9;
  --yellow-2: #fefce9;
  --yellow-3: #fffab8;
  --yellow-4: #fff394;
  --yellow-5: #ffe770;
  --yellow-6: #f3d768;
  --yellow-7: #e4c767;
  --yellow-8: #d5ae39;
  --yellow-9: #ffe629;
  --yellow-10: #ffdc00;
  --yellow-11: #9e6c00;
  --yellow-12: #473b1f;

  --blue-1: #fafdfe;
  --blue-2: #f2fafb;
  --blue-3: #def7f9;
  --blue-4: #caf1f6;
  --blue-5: #b5e9f0;
  --blue-6: #9ddde7;
  --blue-7: #7dcedc;
  --blue-8: #3db9cf;
  --blue-9: #00a2c7;
  --blue-10: #079789;
  --blue-11: #107d98;
  --blue-12: #0d3c48;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
